@inherits LayoutComponentBase
<div>
    <div style="left: 0" class="sidebar">
        <Summary></Summary>
    </div>

    <div style="margin-left: 10%" class="main">
        <MdBlock></MdBlock>
    </div>
</div>
