@inject ILogger<Summary> Logger
@inject IToCParser Parser

<MatNavMenu>
    @foreach(var item in Links) {
        <MatNavItem Title="@item.Display">
            @if(string.IsNullOrWhiteSpace(item.Link)) {
                <p>@item.Display</p>
            } else {
                <Link SideNav="@item"></Link>
            }
        </MatNavItem>
    };
</MatNavMenu>


@code {
    public List<SideNavItem> Links { get; set; } = new List<SideNavItem>();
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        this.StateHasChanged();
    }


    async protected override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Logger.LogWarning("start loading summary");
        Links = (await Parser.Parse()).ToList();
        Links.ForEach(x => Logger.LogInformation(x.ToString()));
        Logger.LogWarning("end loading summary");
        this.StateHasChanged();
    }
}
